.authorBar {
  display: flex;
  align-items: center;
  padding-block: 1rem;
}

.authorDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100%;
  padding-left: 0.5rem;
}

.authorPhoto {
  border-radius: 50%;
  padding-right: 1rem;
}

.authorName {
  font-size: 1.1rem;
}

.publishDate {
  color: var(--light-offset-color);
}

.likesContainer {
  display: flex;
  align-items: center;
}

.likes {
  color: var(--light-offset-color);
}

@media screen and (min-width: 1600px) {
  .authorBar {
    font-size: 1.2rem;
  }

  .authorName {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1930px) {
  .authorBar {
    font-size: 1.5rem;
  }

  .authorName {
    font-size: 1.6rem;
  }
}
