.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.techList {
  list-style: none;
}

.stackItem {
  padding-block: 0.2rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--offset-color);
  text-decoration: none;
}

.noLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

@media (hover: hover) and (pointer: fine) {
  .stackName:hover {
    color: var(--primary-color);
  }
}

@media screen and (max-width: 600px) {
  .container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1600px) {
  .techList {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1930px) {
  .techList {
    font-size: 1.5rem;
  }
}
