.imageGif {
  position: absolute;
  bottom: -0.8rem;
}

.message {
  position: relative;
  color: var(--light-offset-color);
}

.button {
  display: block;
  margin: 1rem auto;
}

.button::after {
  content: "Say Hello";
}

@media screen and (min-width: 1200px) {
  .message {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1600px) {
  .message {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1930px) {
  .message {
    font-size: 2.5rem;
  }
}
