.heading {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color: var(--offset-color);
}

.primaryButton {
  display: block;
  width: fit-content;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgba(134, 247, 221, 1) 20%,
    rgba(108, 255, 90, 1) 80%
  );
  color: var(--dark-background-color);
  border-radius: 0.5rem;
}

@media (hover: hover) and (pointer: fine) {
  .primaryButton:hover {
    background: linear-gradient(
      90deg,
      rgba(134, 247, 221, 0.8) 20%,
      rgba(108, 255, 90, 0.8) 80%
    );
  }
}
