.introHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  min-height: calc(100vh - 4.6rem);
  padding-inline: 1.4rem;
}

.greetMessage {
  text-transform: uppercase;
  color: var(--primary-color);
}

.aboutBrief {
  position: relative;
  color: var(--light-offset-color);
}

.inlineLink {
  color: var(--primary-color);
  text-decoration: underline;
}

.smilingGif {
  position: absolute;
  bottom: -0.8rem;
}

.headerButton {
  display: block;
  margin: 1rem auto;
}

@media screen and (min-width: 992px) {
  .introHeader {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .introHeader {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1600px) {
  .introHeader {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1930px) {
  .introHeader {
    font-size: 2.5rem;
  }
}
