.heading {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  color: var(--offset-color);
}

.linkContainer {
  text-align: center;
}

.link {
  color: var(--primary-color);
  text-decoration: underline;
  transition: 0.5s;
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    color: var(--offset-color);
  }
}

@media screen and (min-width: 1600px) {
  .heading {
    font-size: 2.8rem;
  }

  .link {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1930px) {
  .heading {
    font-size: 3.5rem;
  }

  .link {
    font-size: 1.5rem;
  }
}
