.footer {
  --footer-text-color: rgba(255, 255, 255, 0.5);
  padding-block: 1rem;
}

.footerText {
  text-align: center;
}

.offsetColor {
  color: var(--footer-text-color);
}

.imageGif {
  position: relative;
  bottom: -0.3rem;
}

.author {
  color: var(--primary-color);
}

@media screen and (min-width: 1930px) {
  .footerText {
    font-size: 1.5rem;
  }
}
