@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-background-color: #051103;
  --offset-color: #f4f5f7;
  --light-offset-color: rgba(255, 255, 255, 0.8);
  --sky-blue: #86f7dd;
  --primary-color: #6cff5a;
  --border-radius: 0.3rem;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-background-color);
  color: var(--offset-color);
}

a {
  color: var(--offset-color);
  text-decoration: none;
}

.button {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1.8rem;
  width: fit-content;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.button::after {
  position: absolute;
  inset: 0;
  padding: 0.5rem 1.8rem;
  opacity: 0;
  border-radius: var(--border-radius);
  transition: 0.5s;
}

.primary-button {
  position: relative;
  color: var(--dark-background-color);
  background-image: linear-gradient(
    90deg,
    var(--sky-blue) 20%,
    var(--primary-color) 80%
  );
}

.primary-button::after {
  content: "Resume";
  background-color: var(--primary-color);
}

@media (hover: hover) and (pointer: fine) {
  .primary-button:hover::after {
    opacity: 1;
  }
}

@media screen and (min-width: 1400px) {
  .button {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1930px) {
  .button {
    font-size: 1.8rem;
    padding: 0.8rem 2.5rem;
  }

  .button::after {
    padding: 0.8rem 2.5rem;
  }
}
