@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-background-color: #051103;
  --offset-color: #f4f5f7;
  --light-offset-color: rgba(255, 255, 255, 0.8);
  --primary-color: #6cff5a;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-background-color);
  color: var(--offset-color);
}

a {
  color: var(--offset-color);
  text-decoration: none;
}

button {
  cursor: pointer;
}

p {
  margin-bottom: 1rem;
}

.container {
  max-width: 90%;
  margin: auto;
}

.wrapper {
  min-height: calc(100vh - 12.1rem);
}

.primary-button {
  display: block;
  width: fit-content;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  background: rgb(134, 247, 221);
  background: linear-gradient(
    90deg,
    rgba(134, 247, 221, 1) 20%,
    rgba(108, 255, 90, 1) 80%
  );
  color: var(--dark-background-color);
  border: 1px solid var(--light-offset-color);
  border-radius: 0.5rem;
}

.primary-button:hover {
  transition: 0.5s;
  background: transparent;
  color: var(--offset-color);
}

.primary-color {
  color: var(--primary-color);
}

.light-offset-color {
  color: var(--light-offset-color);
}

.dark-color {
  color: var(--dark-background-color);
}

.main {
  padding: 0 1.4rem;
  margin: 1rem 0 2rem 0;
}

.heading {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color: var(--offset-color);
}

.blog-link {
  margin-left: 0.5rem;
}

.blog-link:hover {
  text-decoration: underline;
}

.project-link {
  font-size: 0.9rem;
  text-decoration: underline;
  color: var(--primary-color);
}

.project-link:hover {
  color: var(--light-offset-color);
}

.image-container {
  text-align: center;
  margin: 1rem 0;
}

.image {
  padding: 0.5rem !important;
  border-radius: 50%;
  background: rgb(134, 247, 221);
  background: linear-gradient(
    90deg,
    rgba(134, 247, 221, 1) 20%,
    rgba(108, 255, 90, 1) 80%
  );
}

.about-intro {
  text-align: center;
}

.tech-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.tech-list-item {
  width: 50%;
}

.error-msg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 5rem);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 75%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 60%;
  }

  .heading {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 50%;
  }

  .heading {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 45%;
  }

  .heading {
    font-size: 2.5rem;
  }
}
