@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-background-color: #051103;
  --offset-color: #f4f5f7;
  --light-offset-color: rgba(255, 255, 255, 0.8);
  --primary-color: #6cff5a;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-background-color);
  color: var(--offset-color);
}

a {
  color: var(--offset-color);
  text-decoration: none;
}

button {
  cursor: pointer;
}

p {
  margin-bottom: 1rem;
  line-height: 1.8rem;
}
