.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.navLogo {
  margin-right: 1rem;
  width: 20%;
  transition: var(--transition);
}

.hamburgerIcon {
  width: 1.375rem;
  height: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
  background-color: transparent;
  border: none;
}

.hamburgerIcon span {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 99px;
  background-color: #fff;
  transition: var(--transition) ease;
  transform-origin: left;
}

.hamburgerIcon.active span:nth-child(1) {
  transform: rotate(40deg);
}

.hamburgerIcon span:nth-child(3) {
  transform-origin: left;
}

.hamburgerIcon.active span:nth-child(2) {
  transform: scale(0);
}

.hamburgerIcon.active span:nth-child(3) {
  transform: rotate(-40deg);
}

.navPills {
  --height: 0px;
  position: absolute;
  top: 5.4rem;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: var(--height);
  list-style: none;
  overflow-y: hidden;
  padding-inline: 0.5rem;
  background-color: var(--dark-background-color);
  z-index: 1;
  transition: var(--transition) cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.navPills.active {
  --height: calc(((0.5rem * 2) + (1rem * 1.5)) * 4);
  transition: var(--transition) ease;
}

.navLink {
  text-decoration: none;
  display: block;
  width: fit-content;
  padding: 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.8);
  transition: var(--transition);
}

.navLink.active {
  font-weight: bold;
  color: var(--primary-color);
}

@media (hover: hover) and (pointer: fine) {
  .navLogo:hover {
    transform: rotate(var(--rotation-degrees));
  }

  .navLink:hover {
    transform: rotate(var(--rotation-degrees));
    background-color: #0d2c07;
    border-radius: 10rem;
  }
}

@media screen and (min-width: 768px) {
  .hamburgerIcon {
    display: none;
  }

  .navPills {
    --height: auto;
    position: static;
    flex-direction: row;
  }
}

@media screen and (min-width: 1600px) {
  .navLink {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1930px) {
  .navLink {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 600px) {
  .navLogo {
    width: 40%;
  }
}

@keyframes dropdown {
  0% {
    transform: translateY(-15rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes dropup {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15rem);
  }
}
