.iconContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem auto;
  list-style: none;
  font-size: 1.5rem;
}

.icon {
  display: flex;
  transition: var(--transition);
}

@media (hover: hover) and (pointer: fine) {
  .icon:hover {
    background-color: #0d2c07;
    border-radius: 0.5rem;
  }
}

.iconLink {
  display: flex;
  padding: 0.4rem;
}
