.iconList {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem auto;
  list-style: none;
  font-size: 1.5rem;
}

.iconItem {
  display: flex;
}

.iconLink {
  display: flex;
  padding: 0.4rem;
}

.icon {
  transition: var(--transition);
}

@media (hover: hover) and (pointer: fine) {
  .icon:hover {
    transform: rotate(var(--rotation-degrees));
    color: var(--primary-color);
  }
}

@media screen and (min-width: 1600px) {
  .iconLink {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1930px) {
  .iconLink {
    font-size: 2.5rem;
  }
}
